@using Projekat.Models;
@model FitnesCentar
@{
    Layout = "~/Views/Shared/_VlasnikLayout.cshtml";
}
@{
    ViewBag.Title = "Modifikacija Centra";
}

<h2 class="klasaNaslov">Modifikacija Centra</h2>

<form action="~/Vlasnik/ModifikacijaPosleFormeVlasnik" method="post">
    <table class="klasa1">
        <tr>
            <td>Naziv:</td>
            <td><input type="text" name="naziv" /></td>
        </tr>
        <tr>
            <td>Adresa:</td>
            <td><input type="text" name="adresa" /></td>
        </tr>
        <tr>
            <td>Godina otvaranja:</td>
            <td><input type="number" name="godinaOtvaranja" /></td>
        </tr>
        <tr>
            <td>Cena mesečne članarine:</td>
            <td><input type="number" name="cenaMesecneClanarine" /></td>
        </tr>
        <tr>
            <td>Cena godišnje članarine:</td>
            <td><input type="number" name="cenaGodisnjeClanarine" /></td>
        </tr>
        <tr>
            <td>Cena jednog treninga:</td>
            <td><input type="number" name="cenaJednogTreninga" /></td>
        </tr>
        <tr>
            <td>Cena grupnog treninga:</td>
            <td><input type="number" name="cenaGrupnogTreninga" /></td>
        </tr>
        <tr>
            <td>Cena personalnog treninga:</td>
            <td><input type="number" name="cenaPersonalnogTreninga" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="text" name="idKojiTrebaDaSeMenja" value="@Model.IDFitnesCentra" hidden />
                <input type="submit" value="Izmeni" />
            </td>
        </tr>
    </table>
</form>

