@{
    Layout = "~/Views/Shared/_VlasnikLayout.cshtml";
}
@{
    ViewBag.Title = "Poruka Izbrisan";
}

<h2 class="klasaNaslov">@ViewBag.Message</h2>
<h2 class="klasaUpozorenje">@ViewBag.Message1</h2>

