<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Fitnes centri</title>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <table class="klasa2">
            <tr>
                <td><a href="~/Register/Index">Registracija</a></td>
                <td><a href="~/Register/Login">Login</a></td>
                <td><a href="~/Home/Index">Svi fitnes centri</a></td>

            </tr>
        </table>
    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Fitnes Centri</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>

</body>
</html>