
@{          
    Layout = "~/Views/Shared/_PosetilacLayout.cshtml";
}
@{ 
    ViewBag.Title = "PrijavaNaTreningPosetilac";
}

<h2 class="klasaNaslov">@ViewBag.Message</h2>
<h2 class="klasaUpozorenje">@ViewBag.Message2</h2>
<h2 class="klasaUpozorenje">@ViewBag.Message3</h2>
<h2 class="klasaUpozorenje">@ViewBag.Message4</h2>
<p><a href="~/FitnesCentri/FitnesCentriPosetilac">Nazad na početnu stranicu</a></p>

