@{
    Layout = "~/Views/Shared/_TrenerLayout.cshtml";
}

@{
    ViewBag.Title = "Kreiranje Treninga";
}

<h2 class="klasaNaslov">Kreiranje Treninga</h2>
<p class="klasaUpozorenje">@ViewBag.Message</p>
<p class="klasaUpozorenje">@ViewBag.Message2</p>

<form action="~/Trener/CuvanjeTreninga" method="post">
    <table class="klasa1">
        <tr>
            <td>ID treninga:</td>
            <td><input type="number" name="id"/></td>
        </tr>
        <tr>
            <td>Naziv:</td>
            <td><input type="text" name="naziv" /></td>
        </tr>
        <tr>
            <td>Tip treninga:</td>
            <td>
                <select name="tipTreninga">
                    <option value=""></option>
                    <option>YOGA</option>
                    <option>LESS_MILLS_TONE</option>
                    <option>BODY_PUMP</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Trajanje treninga:</td>
            <td><input type="number" name="trajanjeTreninga" /></td>
        </tr>
        <tr>
            <td>Datum i vreme treninga:</td>
            <td><input type="date" name="datumIVremeTreninga" /></td>
        </tr>
        <tr>
            <td>Maksimalan broj posetilaca:</td>
            <td><input type="number" name="maksimalanBrojPosetilaca" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Kreiraj" />
            </td>
        </tr>
    </table>
</form>

